@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}


.str-chat_channel {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #c9e8c9, #b7e7bb);
    height: 100%;
}

.str-chat_container {
    max-width: 120px;
    width: 100%;
    height: 80% !important;
    margin: 0 auto !important;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.05);
    overflow: hidden;
}

.str-chat_list{
    background-color: #ffffff;
    padding: 12px;
}

.str-chat_list-notification {
    display: none;
}

.str-chat_message-input{
    border-radius: 1px solid #ddd;
}